#banner {
    height: 500px;
}

#features {
    flex-direction: column;
    margin: 5px;
}

.box-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form {
    width: 82%;
    margin-left: 3px;
}

input, textarea {
    width: 95%;
}


/* @media screen and (max-width:500px) {
    /* #navbar {
        flex-direction: column;
    }
    
    .burger {
        display: block;
    }

    #nav-list {
        flex-direction: column;
    }
    
    .list-item {
        margin: 10px;
    }
    
    #logo {
        width: 15%;
        display: block;
        position: absolute;
        right: 5%;
        top: 0px;
        height: 54px;
    }
    
    .h-nav {
        height: 57px;
    }
    
    .v-nav {
        opacity: 0;
    }
    
    .box-front img {
        height: 200px;
        width: 96%;
    }
    
    #banner::before {
        content: "";
        position: absolute;
        background: url(../images/featured1.jpg) no-repeat center center/cover;
        /* clip-path: polygon(0 0, 100% 0, 100% 71%, 0 71%); */
/*         
        top: 0;
        left: 0;
        height: 609px;
        width: 100%;
        z-index: -1;
    }
    #banner {
        height: 430px;
    }    
    .social-media-icons {
        display: none;
    }
    .card {
        width: 100% !important;
    }
} */